[Desktop Entry]
Encoding=UTF-8
Version=0.1.8
Exec=lunch 
Type=Application
Terminal=true
Categories=System;RemoteAccess;
Name=Lunch
Comment=The Lunch Distributed Process Manager
Comment[fr]=Le gestionnaire de processus distribué Lunch
Icon=lunch.png
