[Desktop Entry]
Exec=lunch -g -q
Type=Application
Terminal=false
Categories=System;RemoteAccess;Network;
Name=Lunch
Comment=Distributed Process Launcher
Comment[fr]=Launceur de processus distribué
Icon=lunch.png
