[Desktop Entry]
Encoding=UTF-8
Version=1.0
Exec=/usr/local/bin/lunch --hold
Type=Application
Terminal=true
Name=Lunch
Name[en_CA]=Lunch
Name[fr]=Lunch
Comment=The Lunch distributed process manager
Comment[en_CA]=The Lunch distributed process manager
Comment[fr]=Lunch est un gestionnaire de processus
Icon=apport
Icon[en_CA]=apport
