[Desktop Entry]
Encoding=UTF-8
Version=0.2.5
Exec=lunch -g -q
Type=Application
Terminal=true
Categories=System;RemoteAccess;Network;
Name=Lunch
Comment=The Lunch Distributed Process Manager
Comment[fr]=Le gestionnaire de processus distribué Lunch
Icon=lunch.png
