#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pycentral

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

# Add here any variable or target overrides you need.
binary-install/lunch::
	dh_pycentral -plunch
	dh_install lunch.desktop usr/share/applications
	dh_install lunch.png usr/share/pixmaps
	dh_installman lunch.1
	dh_installman lunch-slave.1
	dh_installdocs debian/copyright
	dh_installdocs examples
